.site-form {
    display: flex;
    width: 100%;
    min-height: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .w-80 {
        width: 80%;

        /deep/ .mat-form-field-suffix {
            display: flex !important;
        }

        .add {
            color: green;
        }

        .remove {
            color: red;
        }
    }

    .download {
        margin: 30px;
    }

    /deep/ mat-spinner {
        svg circle {
            stroke: white !important;
        }
    }
}

.available {
    color: green;
}

.unavailable {
    color: red;
}

/deep/ .success {
    background-color: green;
    color: white;
}

/deep/ .failed {
    background-color: red;
    color: white;
}